
html
    head
        link(rel="stylesheet", href="styles.css")
    body
        div
            p Hi #{name},
            p You have requested to reset the password for your PSC Digital Marketplace's account. Use the button below to reset it. This password reset is only valid for the next 24 hours.

            p If you did not initiate this password reset request, do ignore this email.
            
            a( class="verify-button" href=`${link}`) Reset your password

            p Regards,
            p The PSC Digital Marketplace Team
            

