
html
    head
        link(rel="stylesheet", href="styles.css")
    body
        div
            p Hi #{name},
            p Thank you for creating an account at PSC Digital Marketplace. To complete your registration we need you to verify your email address.
            p Click on the button below to verify.
            
            a( class="verify-button" href=`${link}`) Verify Email

            p Regards,
            p The PSC Digital Marketplace Team